[project]
	description = uboot hacking
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Geeteshchintu
[access "refs/for/refs/*"]
	read = group user/Geeteshchintu
	push = group user/Geeteshchintu
	label-Code-Review = -2..+2 group user/Geeteshchintu
	label-Verified = -1..+1 group user/Geeteshchintu
	rebase = group user/Geeteshchintu
	removeReviewer = group user/Geeteshchintu
	submit = group user/Geeteshchintu
[access "refs/heads/*"]
	read = group user/Geeteshchintu
	create = group user/Geeteshchintu
	push = +force group user/Geeteshchintu
	pushMerge = group user/Geeteshchintu
[access "refs/tags/*"]
	push = +force group user/Geeteshchintu
	pushTag = group user/Geeteshchintu
	pushSignedTag = group user/Geeteshchintu
